<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Hi-Tec Walking Routes</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Hi-Tec Walking Route">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="css/hitec.min.css"/>

    <style type="text/css">[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }</style>

  </head>

  <body ng-controller="AppController as app" ng-cloak>

    <start-view id="start" class="fade fullscreen" ng-cloak ng-if="app.state.isPristine() ||  app.state.isReady()"></start-view>

    <div id="hitec-header">
      <img class="logo" src="assets/img/logo/hi-tec-white.png" alt="Hi-Tec" />
    </div>

    <selecting-places class="fade fullscreen" ng-cloak ng-if="app.state.isSelectingPlaces()"></selecting-places>

    <selecting-start class="fade fullscreen" ng-cloak ng-if="app.state.isSelectingStartEnd()"></selecting-start>

    <static-map id="print" class="fade fullscreen" ng-cloak ng-if="app.state.isPrinting()"></static-map>

    <div id="map-container" ng-controller="MapController as map" ng-cloak>

      <div class="map-overlay fade fullscreen" ng-if="!map.ready"></div>

      <!-- <div class="map-active" ng-if="app.state.isReviewing() && map.active" ng-cloak><md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular></div> -->

      <div class="map-actions fade" ng-if="map.ready" ng-cloak>
        <md-button class="start-over md-fab md-primary" ng-click="map.startOver()" aria-label="Start over">
          <md-icon md-svg-icon="start_over"></md-icon>
        </md-button>
        <md-button class="my-location md-fab md-primary" ng-click="map.center()" aria-label="Go to my location">
          <md-icon md-svg-icon="my_location"></md-icon>
        </md-button>
      </div>

      <div id="map" class="fullscreen" ng-cloak></div>

      <div id="sidebar" class="fade" ng-if="app.state.isReviewing() && map.ready" ng-cloak>
        <h4>Your personalised route</h4>
        <div class="totals" ng-controller="DirectionsController as directions">
          <p>{{directions.duration.text}}, {{directions.distance.text}}</p>
        </div>
        <div class="places">
          <md-card class="place" ng-repeat="place in selected.places" ng-click="map.showPlace(place)">
            <label for="place{{place.id}}" layout="row" layout-align="space-between center">
              <img ng-src="{{place.media.x2}}" class="md-card-image" alt="{{place.label}}">
            </label>
            <md-card-actions>
              <label for="place{{place.id}}" layout="row" layout-align="space-between center">
                <p>{{place.label}}</p>
              </label>
              <label class="place-order" for="place{{place.id}}" layout="row" layout-align="end center">
                <span>{{place.order}}</span>
              </label>
            </md-card-actions>
          </md-card>
        </div>
        <div class="actions" ng-controller="DirectionsController as directions">
          <md-button ng-click="app.next()" class="finish md-raised md-primary" aria-label="View step by step direcctions">Step-by-step directions</md-button>
        </div>
      </div>
    </div>

    <script src="./js/hitec.min.js"></script>

    <script type="text/javascript">
      /** manual bootstrap */
      function configure() { angular.bootstrap(document.getElementsByTagName("body")[0], ['App']); }
      function start() { google.maps.event.addDomListener(window, 'load', configure); }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDda0gQh0rR7cTRlHMxGCiZ0dcJadq8mJI&libraries=places&callback=start"></script>
  </body>
</html>
