<div id="static-map" layout="row">
  <header>
    <img ng-src="{{staticMapURL}}" />
    <div class="map-actions" layout="row">
      <div layout="row" layout-align="start center">
        <md-button class="md-fab" ng-click="closeDialog()" aria-label="Close">
          <md-icon md-svg-icon="close"></md-icon>
        </md-button>
      </div>
      <span flex></span>
      <div layout="row" layout-align="end center">
        <md-button class="md-fab md-primary" ng-click="closeDialog()" aria-label="Email">
          <md-icon md-svg-icon="email"></md-icon>
        </md-button>
        <md-button class="md-fab md-primary" ng-click="print()" aria-label="Print">
          <md-icon md-svg-icon="print"></md-icon>
        </md-button>
      </div>
    </div>
  </header>
  <div class="static-map-content">
    <div class="directions">
      <md-icon md-svg-icon="directions"></md-icon>
      <span>Step by step directions</span>
    </div>
    <div class="legs">
      <div class="leg" ng-repeat="leg in directions.legs">
        <div class="start">
          <md-icon md-svg-icon="walk"></md-icon>
          {{leg.start_address}}
        </div>
        <div class="steps">
          <p class="step" ng-repeat="step in leg.steps">
            <span class="maneuver" ng-class="step.maneuver"></span>
            <span class="instruction" ng-bind-html="step.instructions"></span>
          </p>
        </div>
        <div class="end" ng-if="$last">
          <md-icon md-svg-icon="place"></md-icon>
          {{leg.end_address}}
        </div>
      </div>
    </div>
  </div>
</div>
