<section class="directions" ng-cloak layout="column">
  <div class="legs" layout="column">
    <header>
      <h3><md-icon md-svg-icon="directions"></md-icon> Step by step directions</h3>
      <p>{{directions.duration.text}}, {{directions.distance.text}}</p>
    </header>
    <div class="leg" ng-repeat="leg in directions.route.legs" layout="column">
      <div class="start">
        <div class="place" ng-if="leg.start_place">
          <div class="place-title">
            <md-icon md-svg-icon="walk"></md-icon>
            <strong>{{leg.start_place.label}}</strong>
            {{leg.duration.text}} ({{leg.distance.text}})
          </div>
          <div class="place-content">
            <p ng-repeat="p in leg.start_marker.mark.content">{{p}}</p>
          </div>
          <div class="place-address">{{leg.start_address}}</div>
        </div>
      </div>
      <div class="steps">
        <p class="step" ng-repeat="step in leg.steps">
          <span class="maneuver" ng-class="step.maneuver"></span>
          <span class="instruction" ng-bind-html="step.instructions"></span>
        </p>
      </div>
      <div class="end" ng-if="$last">
        <div class="place" ng-if="leg.end_place">
          <div class="place-title">
            <md-icon md-svg-icon="place_dark"></md-icon>
            <strong>{{leg.end_place.label}}</strong>
            {{leg.duration.text}} ({{leg.distance.text}})
          </div>
          <div class="place-content">
            <p ng-repeat="p in leg.end_address.mark.content">{{p}}</p>
          </div>
          <div class="place-address">{{leg.end_address}}</div>
        </div>
      </div>
    </div>
  </div>
  <span flex></span>
  <div layout="column" layout-align="center">
    <md-button aria-label="Close">Close</md-button>
  </div>
</section>
