<md-content layout="column">

  <md-subheader>
    <h1>Choose the start and end of your walk</h1>
    <p>Select the place where you want to start and another where you want to end</p>
  </md-subheader>

  <header class="layout-padding">
    <h3>Start location</h3>
  </header>
  <div class="places" layout="row" layout-align="start none" layout-wrap>
    <md-card class="place" ng-repeat="place in selected.places" flex="20" ng-class="{selected: selected.start === place.id}">
      <label for="startPlace{{place.id}}" layout="row" layout-align="space-between center">
        <img ng-src="{{place.media.x2}}" class="md-card-image" alt="{{place.label}}">
      </label>
      <md-card-actions>
        <label for="startPlace{{place.id}}" layout="row" layout-align="space-between center">
          <p>{{place.label}}</p>
          <input id="startPlace{{place.id}}" name="startPlace" type="radio" ng-model="selected.start" ng-value="place.id">
        </label>
      </md-card-actions>
    </md-card>
  </div>

  <header class="layout-padding fade" ng-if="selected.start">
    <h3>End location</h3>
  </header>
  <div class="places fade" layout="row" layout-align="start none" layout-wrap ng-if="selected.start">
    <md-card class="place" ng-repeat="place in selected.places" flex="20" ng-class="{selected: selected.end === place.id}">
      <label for="endPlace{{place.id}}" layout="row" layout-align="space-between center">
        <img ng-src="{{place.media.x2}}" class="md-card-image" alt="{{place.label}}">
      </label>
      <md-card-actions>
        <label for="endPlace{{place.id}}" layout="row" layout-align="space-between center">
          <p>{{place.label}}</p>
          <input id="endPlace{{place.id}}" name="endPlace" type="radio" ng-model="selected.end" ng-value="place.id">
        </label>
      </md-card-actions>
    </md-card>
  </div>

</md-content>

<md-toolbar>
  <div class="md-toolbar-tools" layout-align="end center">
    <md-button ng-click="app.next()" class="continue md-raised" aria-label="Continue" ng-disabled="selected.start===0||selected.end===0">Continue</md-button>
  </div>
</md-toolbar>
