html, body,
html.md-default-theme,
body.md-default-theme {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

md-content {
  background: transparent;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

#map {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map-actions {
  position: absolute;
  z-index: 71;
  bottom: 3em;
  left: 3em;
}

/* marker list */
.marker-list {
  overflow: visible;
  position: relative;
  width: 287px;
  height: 110px;
  border-radius: 0;
  margin: 0;
  margin-bottom: 1px;
}
.marker-list:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.25s;
  -webkit-transition: all .25s;
  -moz-transition: all 0.25s;
  transform: translate3d(0, 0, 0);
}
.marker-list.selected:before {
  width: 10px;
  background: rgb(38, 136, 255);
  transform: translate3d(-11px, 0, 0);
}

.marker-list-background {
  position: absolute;
  top: 0; left: 0;
}
.marker-list-label {
  padding: 0 1em;
  color: rgb(255, 255, 255);
}
.marker-list-chip {
  border-radius: 100%;
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin: 0 1em;
  background: #333333;
  color: #ffffff;
}

/* marker detail */
.marker-detail > header {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
}
.marker-detail > section {
  padding: 0 2em;
}
.marker-detail > footer {
  padding: 0 1em;
}

.marker-detail .close.md-button {
  margin: 0;
  padding: 2em;
}
.marker-detail .close.md-button md-icon {

}

.static-map {
  width: 1000px;
}
.static-map header {
  width: 640px;
  height: 640px;
}
.static-map-content {
  padding: 20px;
  width: 255px;
  height: 600px;
  overflow: scroll;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(0,0,0,0.15) 100%) no-repeat 0 0;
}

.static-map-content .leg {
  margin-bottom: 2em;
}

.static-map-content .directions {
  opacity: .5;
  margin-bottom: 1em;
}

.static-map-content .instruction div {
  color: #ccc;
  padding: 1em 1.5em;
}

.static-map-content .start,
.static-map-content .end,
.static-map-content .start md-icon svg,
.static-map-content .end md-icon svg {
  color: #666;
  fill: #666;
}

.static-map-content .step {
  line-height: 16px;
}
.static-map-content .step md-icon {
  font-size: 8px;
}
.static-map-content .step md-icon svg {
  color: #ccc;
  fill: #ccc;
}

.maneuver {
  background-size: 19px 630px;
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: .75;
}

.maneuver.ferry {
  background-position: 0 -614px
}

.maneuver.ferry-train {
  background-position: 0 -566px
}

.maneuver.merge {
  background-position: 0 -143px
}

.maneuver.straight {
  background-position: 0 -534px
}

.maneuver.fork-left {
  background-position: 0 -550px
}

.maneuver.ramp-left {
  background-position: 0 -598px
}

.maneuver.roundabout-left {
  background-position: 0 -197px
}

.maneuver.turn-left {
  background-position: 0 -413px
}

.maneuver.turn-sharp-left {
  background-position: 0 0
}

.maneuver.turn-slight-left {
  background-position: 0 -378px
}

.maneuver.uturn-left {
  background-position: 0 -305px
}

.maneuver.fork-right {
  background-position: 0 -499px
}

.maneuver.ramp-right {
  background-position: 0 -429px
}

.maneuver.roundabout-right {
  background-position: 0 -232px
}

.maneuver.turn-right {
  background-position: 0 -483px
}

.maneuver.turn-sharp-right {
  background-position: 0 -582px
}

.maneuver.turn-slight-right {
  background-position: 0 -51px
}

.maneuver.uturn-right {
  background-position: 0 -35px
}

.maneuver {
  background-image: url(http://maps.gstatic.com/mapfiles/api-3/images/maneuvers.png);
}

/* fix content z-index */
  md-content {
    z-index: 1;
  }
  md-content md-bottom-sheet {
    z-index: 100;
  }

/* fix sidebar width */
  md-sidenav {
    width: 287px;
    overflow: visible; /* make selection offset visible */
  }

/* fix dialog backdrop color */
  md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: rgb(255, 255, 255);
    opacity: .5;
  }
