html, body,
html.md-default-theme,
body.md-default-theme {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

md-content {
  background: transparent;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

#map {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map-actions {
  position: absolute;
  z-index: 71;
  bottom: 3em;
  left: 3em;
}
.my-location {

}
/* marker list */
.marker-list {
  overflow: visible;
  position: relative;
  width: 287px;
  height: 110px;
  border-radius: 0;
  margin: 0;
}
.marker-list:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 110px;
  top: 0;
  left: -6px;
  z-index: 1000;
  transition: width 0.25s;
  -webkit-transition: width .25s;
  -moz-transition: width 0.25s;
}
.marker-list.selected:before {
  width: 5px;
  background: rgb(38, 136, 255);
}

.marker-list-background {
  position: absolute;
  top: 0; left: 0;
}
.marker-list-label {
  padding: 0 1em;
  color: rgb(255, 255, 255);
}
.marker-list-chip {
  border-radius: 100%;
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin: 0 1em;
  background: #ffffff;
  color: #333333;
}

/* marker detail */
.marker-detail > section {
  padding: 0 2em;
}
.marker-detail > footer {
  padding: 0 1em;
}

.marker-detail .close.md-button {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 400px;
  background-size: cover!important;
  background-position: center center!important;
}
.marker-detail .close.md-button md-icon {
  position: absolute;
  top: 1em;
  right: 1em;
}

/* fix content z-index */
  md-content {
    z-index: 1;
  }
  md-content md-bottom-sheet {
    z-index: 100;
  }

/* fix sidebar width */
  md-sidenav {
    width: 287px;
    overflow: visible; /* make selection offset visible */
  }

/* fix dialog backdrop color */
  md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: rgb(255, 255, 255);
    opacity: .5;
  }
