/*
  primary color: #2688FF
*/

html, body,
html.md-default-theme,
body.md-default-theme {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

html, body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#start {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 10%;
  z-index: 100;
}
#start .bubbles {
  margin: 2rem;
}
#start .bubble {
  /*width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #333;
  color: #eee;
  border-radius: 100%;*/
  margin: 1rem;
}
#start .md-primary {
  padding: 1rem 4rem;
}

md-content {
  min-height: 100%;
}
.places .place {
  max-width: 287px;
  transition: all 400ms ease-out 50ms;
  transform: scale3d(.95, .95, 1);
  opacity: .8;
}
.place.selected {
  box-shadow: 0px 0px 3px 3px rgba(38,136,255,.75);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.place label {
  cursor: pointer;
}

/* Primary content area */

#content {
  background: transparent;
  overflow: hidden;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

/* Utils */

.content-wrapper {
  position: relative;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

#map {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map * {
    overflow:visible;
}
.map-actions {
  position: absolute;
  z-index: 71;
  bottom: 2rem;
  left: 2rem;
}
.map-print-action {
  position: absolute;
  z-index: 71;
  bottom: 2rem;
  right: 340px;
}
.map-active {
  position: absolute;
  z-index: 72;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.map-logo {
  z-index: 71;
  position: absolute;
  top: .65rem;
  left: 1rem;
}
.map-categories {
  z-index: 71;
  position: absolute;
  top: 2rem;
  left: 230px;
  right: 340px;
}
.category label {
  font-size: .9em;
  cursor: pointer;
  color: rgba(255, 255, 255, .95);
  background-color: rgba(50, 50, 50, .5);
  padding: .5rem 1rem;
  margin: .25rem;
  border-radius: 3em;
  white-space: nowrap;
  opacity: .75;
}
.category input:checked ~ label {
  background-color: #2688FF;
  opacity: 1;
}
.category input {
  display: none;
}

/* Sidenav area */

#sidebar {
  position: absolute;
  z-index: 80;
  top: 0;
  bottom: 0;
  right: 0;
  /*width: 287px;*/
  width: 300px;
  overflow: scroll;
}

#sidebar md-list {
  width: 287px;
  padding: 0px 0px 8px 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
}

#sidebar md-list-item > button {
  width:100%;
  text-align:left !important;
}

#sidebar md-list .md-button.selected {
  color: #03a9f4;
}
#sidebar .markers-list {
  position: absolute;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  padding-bottom: 50px;
  overflow: scroll;
}
#sidebar .actions {
  width: 287px;
  margin-left: 15px;
}

.loading-route-content {
  padding: 3em;
}

/* marker list */
.marker-list {
  overflow: visible;
  position: relative;
  width: 287px;
  height: 110px;
  border-radius: 0;
  margin: 0;
  margin-bottom: 1px;
}
.marker-list:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.25s;
  -webkit-transition: all .25s;
  -moz-transition: all 0.25s;
  transform: translate3d(0, 0, 0);
}
.marker-list.selected:before {
  width: 10px;
  background: rgb(38, 136, 255);
  transform: translate3d(-11px, 0, 0);
}

.marker-list-background {
  position: absolute;
  top: 0; left: 0;
}
.marker-list-label {
  padding: 0 1em;
  color: rgb(255, 255, 255);
}
.marker-list-chip {
  border-radius: 100%;
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin: 0 1em;
  background: #333333;
  color: #ffffff;
}

/* marker detail */
.marker-detail {
  max-width: 600px;
}
.marker-detail > header {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
}
.marker-detail > section {
  padding: 0 2em;
}
.marker-detail > footer {
  padding: 0 1em;
}

.marker-detail .close.md-button {
  margin: 0;
  padding: 2em;
}
.marker-detail .close.md-button md-icon {

}

#sidebar directions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 247px;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translate3d(0, 100%, 0);
}

#sidebar directions.open {
  transform: translate3d(0, 0, 0);
}

#sidebar .directions .md-button {
  display: inline-block;
}

.directions .md-button {
  display: none;
}

.directions {
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 1);
}

.directions .instruction div {
  color: #ccc;
  padding: 1em 1.5em;
}

.directions .start,
.directions .end,
.directions .start md-icon svg,
.directions .end md-icon svg {
  color: #666;
  fill: #666;
}

.directions .step {
  line-height: 16px;
}
.directions .step md-icon {
  font-size: 8px;
}
.directions .step md-icon svg {
  color: #ccc;
  fill: #ccc;
}

.maneuver {
  background-size: 19px 630px;
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: .75;
}

.maneuver.ferry {
  background-position: 0 -614px
}

.maneuver.ferry-train {
  background-position: 0 -566px
}

.maneuver.merge {
  background-position: 0 -143px
}

.maneuver.straight {
  background-position: 0 -534px
}

.maneuver.fork-left {
  background-position: 0 -550px
}

.maneuver.ramp-left {
  background-position: 0 -598px
}

.maneuver.roundabout-left {
  background-position: 0 -197px
}

.maneuver.turn-left {
  background-position: 0 -413px
}

.maneuver.turn-sharp-left {
  background-position: 0 0
}

.maneuver.turn-slight-left {
  background-position: 0 -378px
}

.maneuver.uturn-left {
  background-position: 0 -305px
}

.maneuver.fork-right {
  background-position: 0 -499px
}

.maneuver.ramp-right {
  background-position: 0 -429px
}

.maneuver.roundabout-right {
  background-position: 0 -232px
}

.maneuver.turn-right {
  background-position: 0 -483px
}

.maneuver.turn-sharp-right {
  background-position: 0 -582px
}

.maneuver.turn-slight-right {
  background-position: 0 -51px
}

.maneuver.uturn-right {
  background-position: 0 -35px
}

.maneuver {
  background-image: url(http://maps.gstatic.com/mapfiles/api-3/images/maneuvers.png);
}

/* fix content z-index */
  md-content {
    z-index: 1;
  }

/* fix sidebar width */
  md-sidenav {
    width: 287px;
    overflow: visible; /* make selection offset visible */
  }

/* fix dialog backdrop color */
  md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: rgb(255, 255, 255);
    opacity: .5;
  }




  #print {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  #print .map-placeholder {
    height: 100%;
    margin-bottom: -10%;
  }
  #print .directions {
    padding: 1rem;
  }
  #print .directions .start,
  #print .directions .end {
    padding-top: 1rem;
    padding-left: 1rem;
    border-left: 10px solid #ccc;
  }
  #print .directions .start,
  #print .directions .end,
  #print .directions .step {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  #print .directions .step:last-of-type {
    border: none;
  }
  #print .directions .place-content,
  #print .directions .place-address {
    margin-left: 2em;
  }
  #print .directions .place-address {
    font-style: italic;
  }
  #print .map-actions {
    display: none;
  }
  #print .print-actions {
    position: absolute;
    right: 2em;
    bottom: 2em;
  }

  /*.print-mode .md-button,
  .print-mode .map-active,
  .print-mode .map-actions,
  .print-mode .map-decoration,
  .print-mode .map-categories,
  .print-mode #sidebar {
      display: none;
    }
  }*/
  /* print */
  @media print {
    .md-button,
    .map-active,
    .map-actions,
    .map-decoration,
    #sidebar,
    #print .md-button,
    #print .print-actions {
      display: none;
    }
  }



  /* there is no need to define anything inside of the destination
  CSS class since the keyframe will take charge of the animation */
  .fade.ng-enter {
    animation: fade_in_animation 1s linear;
    -webkit-animation: fade_in_animation 1s linear;
  }

  @keyframes fade_in_animation {
    from { opacity:0; }
    to { opacity:1; }
  }

  @-webkit-keyframes fade_in_animation {
    from { opacity:1; }
    to { opacity:0; }
  }

  .fade.ng-leave {
    animation: fade_out_animation 0.25s linear;
    -webkit-animation: fade_out_animation 0.25s linear;
  }

  @keyframes fade_out_animation {
    from { opacity:1; }
    to { opacity:0; }
  }

  @-webkit-keyframes fade_out_animation {
    from { opacity:1; }
    to { opacity:0; }
  }

  .flash.ng-enter,
  .flash.ng-leave {
    display: block;
    position: absolute;
    top:0; right: 0;
    bottom: 0; left: 0;
    animation: flash_animation .5s linear;
    -webkit-animation: flash_animation .5s linear;
    z-index: 100;
  }

  @keyframes flash_animation {
    0% { background-color: rgba(255, 255, 255, 0); }
    40% { background-color: rgba(255, 255, 255, 1); }
    60% { background-color: rgba(255, 255, 255, 1); }
    100% { background-color: rgba(255, 255, 255, 0); }
  }

  @-webkit-keyframes flash_animation {
    0% { background-color: rgba(255, 255, 255, 0); }
    40% { background-color: rgba(255, 255, 255, 1); }
    60% { background-color: rgba(255, 255, 255, 1); }
    100% { background-color: rgba(255, 255, 255, 0); }
  }

  .slide.right.ng-enter {
    animation: .5s ease-in-out .25s slide_in_right_animation;
    -webkit-animation: .5s ease-in-out .25s slide_in_right_animation;
    transform: translate3d(100%, 0, 0);
  }

  @keyframes slide_in_right_animation {
    from { transform: translate3d(100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  @-webkit-keyframes slide_in_right_animation {
    from { transform: translate3d(100%, 0 , 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  .slide.right.ng-leave {
    animation: .25s ease-in-out slide_out_right_animation;
    -webkit-animation: .25s ease-in-out slide_out_right_animation;
  }

  @keyframes slide_out_right_animation {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(100%, 0, 0); }
  }

  @-webkit-keyframes slide_out_right_animation {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(100%, 0, 0); }
  }

  .slide.left.ng-enter {
    animation: .5s ease-in-out .25s slide_in_left_animation;
    -webkit-animation: .5s ease-in-out .25s slide_in_left_animation;
    transform: translate3d(-100%, 0, 0);
  }

  @keyframes slide_in_left_animation {
    from { transform: translate3d(-100%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  @-webkit-keyframes slide_in_left_animation {
    from { transform: translate3d(-100%, 0 , 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  .slide.left.ng-leave {
    animation: .25s ease-in-out slide_out_left_animation;
    -webkit-animation: .25s ease-in-out slide_out_left_animation;
  }

  @keyframes slide_out_left_animation {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100%, 0, 0); }
  }

  @-webkit-keyframes slide_out_left_animation {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100%, 0, 0); }
  }

  .slide.top.ng-enter {
    animation: .5s ease-in-out .25s slide_in_top_animation;
    -webkit-animation: .5s ease-in-out .25s slide_in_top_animation;
    transform: translate3d(0, -100%, 0);
  }

  @keyframes slide_in_top_animation {
    from { transform: translate3d(0, -100%, 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  @-webkit-keyframes slide_in_top_animation {
    from { transform: translate3d(0, -100%, 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  .slide.top.ng-leave {
    animation: .25s ease-in-out slide_out_top_animation;
    -webkit-animation: .25s ease-in-out slide_out_top_animation;
  }

  @keyframes slide_out_top_animation {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, -100%, 0); }
  }

  @-webkit-keyframes slide_out_top_animation {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, -100%, 0); }
  }
